$primary_color_dark: #0b1727;
$primary_color_light: #edf2f9;

$secundary_color_dark: #121e2d;
$secundary_color_light: #ffffff;

$tertiary_color_dark: #162231;
$tertiary_color_light: #f9fafd;

$orange: #ee783c;

$gray: #9da9bb;

$blue: #3083f1;

$white: #ffffff;

$yellow: #f0b90b;

$black: #4e565f;

$red: #802323;

$red_light: #ee6666;