$box_shadow: rgba(0, 0, 0, 0.16) 0px 5px 15px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
$border: 1px solid #afb6c22d;
$border_dark: 2px solid #afb6c210;
$border_light: 2px solid #e8ebf0;
$border_radius: 5px;

@mixin Pages_Configs{
  width: 100%;
  min-height: 90.9vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}