@use '../../../Styles/Colors.scss' as Color;
@use '../../../Styles/Fonts.scss' as Font;
@use '../../../Styles/Formats.scss' as Format;

.Index{
  position: relative;
  width: 100%;
  height: 500vh;
  min-height: auto;
  display: flex;
  flex-direction: column;
  background-color: Color.$primary_color_dark;
  scroll-behavior: smooth;
  align-items: center;
}