@use './Styles/Colors.scss' as Color;

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;

  ::selection {
    background: Color.$orange; /* Cor de fundo da seleção */
    color: white;  
  }
}